#**Structured Data Types**

Computers need to efficiently store and process data, as fast and accurately accessing the data is an important criterion. **Data structures** are fundamental concepts of computer science which helps in writing efficient programs. In this lab, we will be focusing on Python specific **built-in data structures** only which are commonly used in data-science.

#Python has four common built-in data structures:

1. **Lists**: Lists are used to store multiple items in a single variable.

2. **Tuples**: A tuple is a collection which is ordered and unchangeable.

3. **Set**: A set is a collection which is both unordered and unindexed.

4. **Dictionary**: A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

These built-in data structures differ based on mutability and order. Mutability refers to the ability to change(modify, add, or delete) an object once it’s created, while Immutable objects cannot be modified after their creation. Order refers to whether the position of an element can be used to access the element.

# Lists

List is as an ordered collection of items, and it is one of the essential data structures. The term “ordered collections” means that each item in a list comes with an order that uniquely identifies them.

* Lists can be nested
* Lists are mutable

##Creating list

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
list2 =list("Hello123")
print(list2)

['H', 'e', 'l', 'l', 'o', '1', '2', '3']

In [ ]:
type(list1)

list

In [ ]:
list3 = list(("apple", "microsoft", "linux", "samsung")) # note the double round-brackets
print(list3)

['apple', 'microsoft', 'linux', 'samsung']

## Acessing the list

In [ ]:
print(list3[1])

microsoft

In [ ]:
print(list3[-1])

samsung

In [ ]:
print(list3[0:2])

['apple', 'microsoft']

In [ ]:
print(list3[2:])

['linux', 'samsung']

## Checking if **item** is in list

In [ ]:
if "apple" in list3:
  print("Yes, 'apple' is in the list")

Yes, 'apple' is in the list

## List is mutable so we can change the items

In [ ]:
list3[1] = "Lenovo"
print(list3)

['apple', 'Lenovo', 'linux', 'samsung']

In [ ]:
list3[1:2] = ["sony", "microsoft"]
print(list3)

['apple', 'sony', 'microsoft', 'linux', 'samsung']

## List has insert method to add the element at the index

In [ ]:
list3.insert(5, "Google")
print(list3)

['apple', 'sony', 'microsoft', 'linux', 'samsung', 'Google']

## In order to add data/element into the list, append is most commonly used list method

In [ ]:
list3.append("dell")
print(list3)

['apple', 'sony', 'microsoft', 'linux', 'samsung', 'Google', 'dell']

##The pop() method which is used to remove the specified index.

In [ ]:
list3.pop(1)
print(list3)

['apple', 'microsoft', 'linux', 'samsung', 'Google', 'dell']

## del method to delete list by index

In [ ]:
del list3[0]
print(list3)

['microsoft', 'linux', 'samsung', 'Google', 'dell']

## Accessing the list items through iterator

In [ ]:
for x in list3:
  print(x)

microsoft
linux
samsung
Google
dell

## Accessing the list items using index through iterator

In [ ]:
for i in range(len(list3)):
  print(list3[i])

microsoft
linux
samsung
Google
dell

## **List comprehension**
 List comprehensions are used for creating new lists from other iterables. A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

In [ ]:
# List comprehension to iterate through loop
List_C = [cmp b for cmp in list3]                   #notice there is no colon and exists a square bracket
 
# Displaying list
print(List_C)

['microsoft', 'linux', 'samusung', 'Google', 'dell']

## Adding two lists  using + and append method, both concatenates the lists

In [ ]:
list1 = [1, 2, 3]
list2 = [5, 6, 7]

list3 = list1 + list2
print(list3)

[1, 2, 3, 5, 6, 7]

In [ ]:
for x in list2:
  list1.append(x)

print(list1)

[1, 2, 3, 5, 6, 7]

##Different ways of copying the list items

In [ ]:
oldlist = list("hello, observe the content")
newlist = list(oldlist) # using list method
print(newlist)

['h', 'e', 'l', 'l', 'o', ',', ' ', 'o', 'b', 's', 'e', 'r', 'v', 'e', ' ', 't', 'h', 'e', ' ', 'c', 'o', 'n', 't', 'e', 'n', 't']

In [ ]:
newlist = oldlist.copy()
print(newlist)

['h', 'e', 'l', 'l', 'o', ',', ' ', 'o', 'b', 's', 'e', 'r', 'v', 'e', ' ', 't', 'h', 'e', ' ', 'c', 'o', 'n', 't', 'e', 'n', 't']

# Dictionary

**Dictionary** in Python is an ordered collection of data values, which is stored as **key and value** pairs. 
Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable. 

Dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’. Dictionary can also be created using the built-in function dict(). An empty dictionary can be created by just placing to curly braces{}.

In [ ]:
dict1 =	{
  "Class": "computation",
  "roomno": 102,
  "year": 2021
}
print(dict1)

{'Class': 'computation', 'roomno': 102, 'year': 2021}

In [ ]:
type(dict1)

dict

Dictionary items are ordered, which means that the items have a defined order, and that order will not change (python 3.6 and above)

## Accessing the dictionary items

In [ ]:
dict1["class"]  # Dictionary keys are case sensitive

In [ ]:
dict1["Class"]

In [ ]:
dict1.get("Class")

In [ ]:
dict1.keys()

dict_keys(['Class', 'roomno', 'year'])

In [ ]:
dict1.values()

dict_values(['computation', 102, 2021])

##Using items method to access the keys and values as list

In [ ]:
dict1.items()

dict_items([('Class', 'computation'), ('roomno', 102), ('year', 2021)])

##Checking if key exists in dictionary

In [ ]:
if "class" in dict1:
  print("Yes, 'class' is one of the keys in the dict1 dictionary")

## Updating dictionary

In [ ]:
dict1["Class"] = "Art of thinking"
print(dict1)

{'Class': 'Art of thinking', 'roomno': 102, 'year': 2021}

In [ ]:
dict1.update({1: 30})
print(dict1)

{'Class': 'Art of thinking', 'roomno': 102, 'year': 2021, 1: 30}

In [ ]:
dict1.update({'Class': 'Robotics'})
print(dict1)

{'Class': 'Robotics', 'roomno': 102, 'year': 2021, 1: 30, 'class': 'Robotics'}

##clear method to empty the dictionary

In [ ]:
newdict = dict1.copy()
print(newdict)
newdict.clear()
print(newdict)

{'Class': 'Robotics', 'roomno': 102, 'year': 2021, 'class': 'Robotics'}
{}

In [ ]:
dict1 =	{
  "class": "computation",
  "roomno": 102,
  "year": 2021
}
print(dict1)

{'class': 'computation', 'roomno': 102, 'year': 2021}

## Accessing the key using keys method

In [ ]:
for x in dict1.keys():
  print(x)

class
roomno
year

## Accessing the values using Values method

In [ ]:
for x in dict1.values():
  print(x)

computation
102
2021

### Accessing the keys and values using the dictionary "items" method

In [ ]:
for x,y in dict1.items():
  print(x,y)

class computation
roomno 102
year 2021

# Set

Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.

Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces, separated by comma.

In [ ]:
set1 = {"apple", "samsung", "samsung","samsung", "samsung","sony" }
print(set1)

{'apple', 'samsung', 'sony'}

In [ ]:
set1 = set("apple") 
print(set1)

{'e', 'p', 'a', 'l'}

In [ ]:
set1 = set(("apple", "samsung", "samsung","samsung", "samsung","sony"))
print(set1)

{'apple', 'samsung', 'sony'}

## Set items are unordered and unchangeable. Here, Unchangeable means once set is created its value cannot be updated but we can add new data and remove the data.

In [ ]:
set1 = set((40,50,60))
print(set1)
set1.add(70)
print(set1)

{40, 50, 60}
{40, 50, 60, 70}

## To remove an item in a set, we need to use the remove(), or the discard() method.

In [ ]:
set1.remove(40)
print(set1)

{50, 60, 70}

## Use update method, To add items from another set into the current set

In [ ]:
set1 = set((40,50,60))
set2 = {40,50,60,70,80}
set1.update(set2)
print(set1)

{70, 40, 80, 50, 60}

## To remove an item from set we can use Pop method.Pop method usually remove the last item. However, sets are unordered, so you will not know what item that gets removed.

In [ ]:
set1.pop()
print(set1)

{40, 80, 50, 60}

##Set can contain multiple data types

In [ ]:
set1 = {"abc", 34, True, 40, "male"} 
type(set1)

set

##Accessing the items using constructor

In [ ]:
for i in set1:
  print(i)

True
34
abc
40
male

## Checking the items if exists in the set

In [ ]:
if 34 in set1:
  print("Yes it exists")

Yes it exists

## Try using clear and delete method too

# Tuples

Tuples are preferred when the user does not want the data to be modified. So that object can remain intact during its lifetime. As Tuples are immutable, they can be used to prevent accidental addition, modification, or removal of data.

## Working Tuples. Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [ ]:
tuple1 = ("apple", "samsung", "sony", "apple")

#Adding list here to highlight differences
list1 =["apple", "samsung", "sony", "apple"]

print(tuple1)
print(list1)

('apple', 'samsung', 'sony', 'apple')
['apple', 'samsung', 'sony', 'apple']

In [ ]:
tuple2 = tuple(("apple", "samsung", "sony", "apple"))
print(tuple2)

('apple', 'samsung', 'sony', 'apple')

## Changing the tuple values
Tuples are unchangeable, or immutable.

But we can convert the tuple into a list, change the list, and convert the list back into a tuple

In [ ]:
tuple2 = tuple(("apple", "samsung", "sony"))
print(tuple2)

tuple2 = tuple(("Nike", "addidas", "crocs"))
print(tuple2)

('apple', 'samsung', 'sony')
('Nike', 'addidas', 'crocs')

In [ ]:
thistuple = tuple(("Nike", "addidas", "crocs"))
print(thistuple)
y = list(thistuple)
y.append("Reebok")
thistuple = tuple(y)
print(thistuple)

('Nike', 'addidas', 'crocs')
('Nike', 'addidas', 'crocs', 'Reebok')

# Exercises

>**Exercise 1:** 

Create a new list "L_3" that picks an odd-index items from the second list and even index items from the first list.

L_1 = [34, 46, 59, 53, 62, 71, 81],    
L_2 = [4, 81, 12, 61, 20, 42, 88]

>**Exercise 2:**  

After removing the duplicate from L3 created above,Slice L_3 into 3 equal chunks through slicing operation using index and reverse each chunk by passing each list chunk into list(reversed(chunk)) function.

>**Exercise 3:**
 
Write the program that Counts the occurrence of each element from **new_listb**. 
Run the code below, to get new_listb: 

a = list ("I walk a lonely road The only one that I have ever known Don't know where it goes But it's home to me, and I walk alone, I walk this empty street On the Boulevard of Broken Dreams")

new_listb = list([val for val in a if val.isalnum()])

>**Exercise 4:**

Find the intersection of two sets using "**set1.intersection(set2)**" function and later, remove these common elements from the first set.

first_set = {44, 43, 12}
second_set = {34, 44, 22, 27, 43, 53, 48}

>**Exercise 5:** 

Get all values from the fruits_price dictionary whose price is less than rs.100 and add them to a affordable_list containing just price value.

Fruits_Price = {'Apple': 146, 'Mango': 200, 'Avacado': 246, 'Grapes': 80, 'Papaya': 50, 'Kiwi': 60}

# Peer review

Grade the Exercise 4 and 5, made by the person sitting next to you (just one) and add the grade to this [sheet](https://forms.office.com/r/e6bvKWvcWm).

Grading scheme (1-5):
- 2 marks: **Readability of code**; how contexual is the code, comments explaining what the code is doing.
- 3 marks: **Working of the code**; whether or not the code works, how cleanly it is written and how much effort has been put into making it work.